<!DOCTYPE html>

<html>

    <head>

        <base href="/">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:100,400,700,700i,900" rel="stylesheet">

        <% if (head) { %>
            <%- head.title.toString() %>
            <%- head.base.toString() %>
            <%- head.meta.toString() %>
            <%- head.link.toString() %>
        <% } %>

    </head>

    <body>

        <% if (app) { %>
            <div id="react-view"><%- app %></div>
        <% } else { %>
            <div id="react-view"></div>
        <% } %>

        <%- loadableStateTag %>
        <%- initialStateTag %>

    </body>

</html>
